<body id="home">


<div class="panels">
    
  <div class="panel panel2 secTransition">
    <p>About Info</p>
    <p class="main-header">About</p>
    <p>
      <%= link_to about_path, method: :get do %>
        <button>Click Here</button>
      <% end %>
    </p>
  </div>
    
  <div class="panel panel3 secTransition">
    <p></p>
    <p class="main-header">DnD Matchmaking</p>
    <p>
      <%= link_to signup_path, method: :get do %>
        <button>Signup/Login</button>
      <% end %>    
    </p>
  </div>
    
  <div class="panel panel5 secTransition">
    <p></p>
    <p class="main-header">Contact</p>
    <p><a href="mailto:christian.c.orourke@gmail.com?subject=Social%20Curate" target="_blank"><button>Send me an email!</button></a></p>
  </div>

</div>
</body>

<script>
document.addEventListener("DOMContentLoaded", function() {
  
  var p1 = document.querySelector('.panel1');
  var p2 = document.querySelector('.panel2');
  var p3 = document.querySelector('.panel3');
  var p4 = document.querySelector('.panel4');
  var p5 = document.querySelector('.panel5');


  const panels = document.querySelectorAll('.panel');
    
  function toggleOpen() {
    this.classList.toggle('open');
  }
    
  function toggleActive(event) {
    if (event.propertyName.includes('flex')) {
      this.classList.toggle('open-active');
    }
  }
    
  panels.forEach(panel => panel.addEventListener('click', toggleOpen));
  panels.forEach(panel => panel.addEventListener('transitionend', toggleActive));
    
  //fade in panels
  function fadeIn(ele) {
    ele.style.opacity = '1.0';
  }
  
  // remove longer transoition time
  function removeTransition(ele) {
    ele.classList.remove('secTransition');
  }

  setTimeout(function() {fadeIn(p3)}, 1000);
  setTimeout(function() {fadeIn(p2)}, 1700);
  setTimeout(function() {fadeIn(p5)}, 2400);

  // setTimeout(function() {fadeIn(p1)}, 1000);
  // setTimeout(function() {fadeIn(p2)}, 1700);
  // setTimeout(function() {fadeIn(p3)}, 2400);
  // setTimeout(function() {fadeIn(p4)}, 3100);
  // setTimeout(function() {fadeIn(p5)}, 3800);

  
  // remove longer transition time from all panels
  panels.forEach(panel => setTimeout(function() {removeTransition(panel)}, 3801));
});
</script>