<body class="mobile-home">
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<div class="center">
    
<div id="scene">
<div class="layer" data-depth="0.6"> 

    <div class="row">
        <h1 class="mobile-logo">Social Curate</h1>
    </div>

</div>
</div>
    
    &nbsp;
    <div class="row">
        <div class="col-xs-6">
            <div class="mobile-box" id="mobile-box1">
                <h1 class="mobile-logo">Services</h1>
                <%= link_to services_path, class: 'gold', method: :get do %>
                    <button class="mobile-button">Click Here</button>
                <% end %>
            </div>    
        </div>
        
        <div class="col-xs-6">
            <div class="mobile-box" id="mobile-box2">
                <h1 class="mobile-logo">About</h1>
                <%= link_to about_path, class: 'gold', method: :get do %>
                    <button class="mobile-button">Click Here</button>
                <% end %>
            </div>    
        </div>
   </div>
    &nbsp;
    
    <div class="row">
        <div class="col-xs-6">
            <div class="mobile-box" id="mobile-box3">
                <h1 class="mobile-logo">Pricing</h1>
                <%= link_to pricing_path, class: 'gold', method: :get do %>
                    <button class="mobile-button">Click Here</button>
                <% end %>
            </div>    
        </div>
        
       <div class="col-xs-6">
            <div class="mobile-box" id="mobile-box4">
                <h1 class="mobile-logo">Contact</h1>
                <a href="mailto:christian.c.orourke@gmail.com?subject=Social%20Curate" target="_blank" class='gold'><button class="mobile-button">Send me an email!</button></a>
            </div>    
        </div>
    </div>
    &nbsp;
    <div class="row">
        
        <%= link_to signup_path, class: 'gold', method: :get do %>
            <button class="mobile-button-lg">Signup/Login</button>
        <% end %>
       
    </div>
    
</div>    
    
</body>

<script>
    // Initialize Parallax.js
      var scene = document.getElementById('scene');
      var parallax = new Parallax(scene);
</script>
