<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user_matching_preference) do |f| %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.label "Dungeon Master" %>
      <%= f.check_box :dm, class: 'form-control' %>

      <%= f.label :player %>
      <%= f.check_box :player, class: 'form-control' %>

      <%= f.label :play_style %>
      <%= f.number_field :play_style, class: 'form-control' %>

      <%= f.label :rule_style %>
      <%= f.number_field :rule_style, class: 'form-control' %>

      <%= f.label :combat_level %>
      <%= f.number_field :combat_level, class: 'form-control' %>

      <%= f.label :party_size %>
      <%= f.number_field :party_size, class: 'form-control' %>

      <%= f.label :campaign_duration %>
      <%= f.number_field :campaign_duration, class: 'form-control' %>

      <%= f.label :campaign_frequency %>
      <%= f.number_field :campaign_frequency, class: 'form-control' %>

      <%= f.label :serious_level %>
      <%= f.number_field :serious_level, class: 'form-control' %>

      <%= f.label :pvp %>
      <%= f.number_field :pvp, class: 'form-control' %>

      <%= f.submit "Update Preferences", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
