<p id="notice"><%= notice %></p>

<h1>User Matching Preferences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_matching_preferences.each do |user_matching_preference| %>
      <tr>
        <td><%= link_to 'Show', user_matching_preference %></td>
        <td><%= link_to 'Edit', edit_user_matching_preference_path(user_matching_preference) %></td>
        <td><%= link_to 'Destroy', user_matching_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Matching Preference', new_user_matching_preference_path %>
