<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" id="header-button" data-toggle="collapse" data-target="#myNavbar">
        <%= image_tag('menu.png', size: '44x44') %>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="center">
        <ul class="nav navbar-nav">
        
          <li><%= link_to "Home", root_path, method: :get, class: "header-logo" %></li>
          <li><%= link_to "About", about_path, method: :get, class: "header-logo" %></li>
          <li><%= link_to "Pricing", '#', class: "header-logo" %></li>
          
           <% if logged_in? %>
            <li><%= link_to "Users", users_path, class: "header-logo" %></li>
            <li><%= link_to 'Account', current_user, class: "header-logo" %></li>
            <li><%= link_to "Settings", edit_user_path(current_user), class: "header-logo" %></li>
            <li><%= link_to "Log out", logout_path, method: :delete, class: "header-logo" %></li>
          <% else %>
            <li><%= link_to "Log in", login_path, class: "header-logo" %></li>
          <% end %>
          
        </ul>
      </div>
    </div>
  </div>
</nav>